:root {
  --primary-color: #d81e5d;
  --secondary-color: #8a4fff;
  --light: #eee;
  --grey: #aaa;
  --dark: #1e2f42;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Fira Sans', sans-serif;
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

button {
  cursor: pointer;
}

body {
  background: var(--light);
}

main {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: var(--dark);
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

p {
  color: var(--grey);
  font-size: 1.125rem;
  margin-bottom: 2rem;
}

.generator-button {
  color: var(--primary-color);
  font-size: inherit;
  font-weight: 700;
  background: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-out;
}

.generator-button:hover {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h4 {
  color: var(--grey);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.colors {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #fff;
  background-color: var(--dark);
  transition: 0.4s ease-out;
  border: 2px solid transparent;
}

.color.copied {
  border-color: red;
}

.lock-toggle {
  opacity: 0.5;
  transition: 0.4s;
}

.lock-toggle.is-locked {
  opacity: 1;
}

.color-input {
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .colors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .colors {
    grid-template-columns: repeat(4, 1fr);
  }

  .color {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .color-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
